 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        :root { 
          --cream: #f9f6e3;
          --dusty-rose: #9F5D5D;
          --dark-brown: #5c4033;
          --text-dark: #3d3d3d;
          --grey: #D9D9D9; 
        }
 
        body {
          font-family: "Afacad", sans-serif;
          font-weight: 600;
          background-color: var(--cream);
          color: var(--text-dark);
          font-size: 16px;
        }
 
        .social-icons {
          position: absolute;
          z-index: 1;
          display: flex;
          flex-direction: column;
          gap: 1.2rem;
          padding-left: 40px;
          padding-bottom: 500px;
        }

        .social-icons svg{
          width: 25px;
          height: 25px;
        }
 
        nav {
          display: flex;
          gap: 2.5rem;
          position: absolute;
          z-index: 1;
          padding-top: 80px;
          padding-left: 200px;
        ;
        }
 
        nav a {
          text-decoration: none;
          color: var(--text-dark);
          font-size: 20px;
          z-index: 1;
        }
 
        .hero {
          display: grid;
          gap: 3rem;
          align-items: center;
          padding-left: 4rem;
          width: 1600px;
          margin: 0 auto;
        }
 
        .hero-content {
          padding-left: 100px;
          position: absolute;
          z-index: 1;
        }
 
        .hero-content h1 {
            font-size: 3.2rem;
            color: var(--dusty-rose);
            font-family: "Alkatra", system-ui;
            margin-bottom: 1.2rem;
            line-height: 1.1;
            font-weight: normal;
        }
 
        .hero-content p {
            font-size: 1rem;
            color: var(--text-dark);
            margin-bottom: 2rem;
            max-width: 350px;
        }
 
        .cta-button {
            padding: 0.75rem 2rem;
            background-color: var(--dusty-rose);
            color: white;
            text-decoration: none;
            border-radius: 20px;
            font-size: 1.2rem;
            border: none;
            cursor: pointer;
            font-family: "Afacad", sans-serif;
            transition: background-color 0.3s ease;
        }
 
        .cta-button:hover {
            background-color: var(--dark-brown);
        }
 
        .hero-image {
          position: relative;
          z-index: 0;
          padding-bottom: 30px;
        }
 
        .hero-image img {
          width: 1500px;
          height: 900px;
          z-index: 0;
        }

        .content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 0 auto;
        }

        .content h1{
            font-size: 3.5rem;
            color: var(--dusty-rose);
            font-family: "Alkatra", system-ui;
            line-height: 1.1;
            font-weight: normal;
        }

        #top-image{
          height: 342px;
          width: 576px;
        }

        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 980px;
            width: 70%;
        }

        .content-top{
            width: 600px;
            height: 300px;
        }

        .content-card__image{
            height: 220px;
        }

        .card-left{
            padding-right: 600px;
            padding-top: 40px;
        }

        .card-right{
            padding-bottom: 60px;
            padding-left: 800px;
        }

        .content-right{
            text-align: right;
        }

        .how-it-works p{
            font-size: 18px;
            width: 400px;
        }

        .trail{
            position: absolute;
            padding-top: 100px;
            height: 900px;
            width: 1130px;
            padding-left: 80px;
        }

        #pie-crust-image{
            height: 250px;
        }

        .footer{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0 auto;
        }

        .footer h1{
            font-size: 3.5rem;
            color: var(--dusty-rose);
            font-family: "Alkatra", system-ui;
            line-height: 1.1;
            font-weight: normal;
        }

        .footer-image{
            height: 350px;
            display: flex;
            align-items: center;
        }

        .footer-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin: 0 auto;
            padding-left: 100px;
        }

        .footer-content h2{
            color: var(--dusty-rose);
            display: flex;
            flex-direction:row;
            
        }
        
        .text-content{
            display: flex;
            flex-direction: row ;
            gap: 30px;
        }

        .email-selection{
            display: flex;
            flex-direction: column;
            margin-left: 400px;
            align-items: flex-start;
            margin-top: -80px;
        }

        .input-bar input{
          width: 234px;
          height: 44px;  
          border: none;
          border-radius: 12px;
          background-color: var(--grey);
          padding-left: 20px;
          color: #919191;
        }

        .input-bar button{
            width: 134px;
            height: 44px;
            border-radius: 12px;
            border: none;
            background-color: var(--dusty-rose);
            font-size: 14px;
            color: var(--cream);
            transition: background-color 0.3s ease;
            cursor: pointer;
        }

        .input-bar button:hover{
            background-color: var(--dark-brown);
        }

        .socials{
            display: flex;
            gap: 20px;
            padding-top: 30px;
            padding-left: 50px;
        }

        .socials svg{
            width: 25px;
            cursor: pointer;
            height: 25px;
        }

        .Back-to-top{        
            border-radius: 12px;
            background-color: var(--cream);
            border-color: var(--dusty-rose);

            width:132px;
            height: 44px;

            color: var(--dusty-rose);
            transition: background-color 0.3s ease;
        }

        .Back-to-top:hover{
            background-color: var(--dusty-rose);
            color: var(--cream);
            border-color: var(--dusty-rose);
        }

        .Site-map{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;
        }

        .Legal{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;
        }

        .top-link{
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            margin-right: 590px;

            margin-top: 20px;
        }

        /*Pentru telefon*/
        @media (max-width: 1024px) {
            header {
                flex-direction: column;
                gap: 1.5rem;
            }
 
            nav {
                margin-left: 0;
                gap: 1.5rem;
            }
 
            .hero {
                grid-template-columns: 1fr;
                padding: 2rem;
            }
 
            .hero-content h1 {
                font-size: 2.2rem;
            }
        }
 
        @media (max-width: 768px) {
            header {
                padding: 1.5rem 2rem;
            }
 
            nav {
                flex-direction: column;
                gap: 0.8rem;
                text-align: center;
            }
 
            .social-icons {
                position: relative;
                left: 0;
                transform: none;
                flex-direction: row;
                justify-content: center;
                margin-bottom: 1rem;
                gap: 1rem;
            }
 
            .hero {
                padding: 2rem 1rem;
            }
 
            .hero-content h1 {
                font-size: 2rem;
            }
        }